@layout('layouts/master')

@section('main')
  <main>
    <h1 class="mt-6 mb-4 text-lg font-bold">Hello world</h1>
    <div>
      <a class="underline" href="/posts">Go to posts</a>
    </div>
  </main>
@endsection
