<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AdonisJS authorization demo</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css" />
</head>
<body class="m-4">
  <section>
    <header>
      @if(user)
        <a class="blue underline" href="/auth/logout">Logout</a>
      @else
        <a class="blue underline" href="/auth/login">Login</a>
        <span> | </span>
        <a class="blue underline" href="/auth/register">Register</a>
      @endif
    </header>

  </section>

  <section>
    @section('main')
    @endsection
  </section>

</body>
</html>
